/*
 * $Id$
 */

/**
 *
 * @class f_box
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 
.f_box {
	position: relative;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}