/*
 * $Id$
 */

/**
 *
 * @class f_cardBox
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 
 
DIV.f_cardBox {
	display: block;
	position: relative;
}
 
DIV.f_cardBox_card {
	position:absolute;
	left: 0;
	top: 0;
	display: block;
}
