/*
 * $Id$
 */

/**
 *
 * @class f_checkButton3States
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 
 
.f_checkButton3States {
	cursor: pointer;
	cursor: hand;
	display: inline;
	text-align: left;
	vertical-align: baseline;
}

INPUT.f_checkButton3States_input {
	vertical-align: middle;
}

LABEL.f_checkButton3States_text {
	vertical-align: middle;
	cursor: pointer;
	cursor: hand;
	padding-left: 4px;
}
