/*
 * $Id$
 */

/**
 *
 * @class f_checkButton
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 
.f_checkButton {
	-moz-user-select: none;
	user-select: none;
	text-align: left;
	vertical-align: baseline;
}
 
.f_checkButton_input {
	vertical-align: middle;
}

.f_checkButton_text, 
.f_checkButton_text_disabled {
	vertical-align: middle;
	display: inline;
}

.f_checkButton_text {
	cursor: pointer;
	cursor: hand;
}

.f_checkButton_text_disabled {
	color: #A1A192;
}