/*
 * $Id$
 */

/**
 *
 * @class f_columnSortDialog
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 
.f_columnSortDialog_body {
	text-align: center;
	vertical-align: middle;
	user-select: none;
	-moz-user-select: none;
}

.f_columnSortDialog_form {
	padding: 0;
	border: 0;
	margin: 0;
}

.f_columnSortDialog_hr {
	background: transparent url('shell/separator.gif') repeat-x 0 center;
}


.f_columnSortDialog LABEL {
	font: 8pt Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.f_columnSortDialog_no_column {
	font-style: italic;
}
