/*
 * $Id$
 */

/**
 *
 * @class f_componentsList
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 
.f_componentsList {
	border: 1px solid #666666;
	margin: 0;
	padding: 0;	
	text-align: left;
	vertical-align: top;
	-moz-user-select: none;
	user-select: none;
}

.f_componentsList_disabled {
 	border: 1px solid #BBB;		
}

.f_componentsList_cell {
	text-align: left;
	vertical-align: top;
}
