/*
 * $Id$
 */

/**
 *
 * @class f_criteriaList
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */

 
.f_criteriaList {
	-moz-user-select: none;
	user-select: none;
	border: 1px dotted #999999;
	background-color: #EEEEEE;
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
	text-align: left;
	vertical-align: baseline;

	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	
	overflow-y: scroll; 
	overflow-x: hidden;	
}

.f_criteriaList_list {
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	user-select: none;
}
 