/*
 * $Id: f_dataGrid.css,v 1.5 2007/01/12 15:40:48 oeuillot Exp $
 */

/**
 *
 * @class f_dataGrid
 *
 * @author Olivier Oeuillot (latest modification by $Author: oeuillot $)
 * @version $Revision: 1.5 $ $Date: 2007/01/12 15:40:48 $ 
 */
 
.f_dataGrid {
	border: 1px solid #666666;
	list-style-type: none;
	margin: 0;
	padding: 0;	
	line-height: 18px;
	text-align: left;
	-moz-user-select: none;
	user-select: none;
	background-color: white;
 	position: relative;
	vertical-align: baseline;
	font: 8pt Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.f_dataGrid_disabled {
 	border: 1px solid #BBB;
}

.f_dataGrid_table {
	font: 8pt Tahoma, Verdana, Arial, Helvetica, sans-serif;
 	border-spacing: 0px;
	empty-cells: show;
 	margin: 0;
 	padding: 0;
 	table-layout: fixed;
 	background-color: white;
}

.f_dataGrid_table TBODY {
 	background:#D9D9D9;
}

.f_dataGrid_fttitle {
	empty-cells: show;
	border-spacing: 0;
	padding: 0;
	margin: 0;
	table-layout: fixed;
	// C'est allucinant ... mais si il n'y a pas de taille par defaut !
	// Il desactive tout seul le table-layout !
	width: 100%;
}

.f_dataGrid_title {
	font: 8pt Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	background-color: white;
}

.f_dataGrid_tcell {
	font-weight: bold;
	color: #000;
/*	text-overflow: ellipsis; */
	text-overflow: clip;
	vertical-align: middle;
	padding: 2px 4px 2px 4px;
	margin: 0px;
	height: 20px;
	overflow:hidden;
	white-space:nowrap;
	background: url('dataGrid/titleNormal.gif') repeat-x bottom #EBEADB;
	cursor: normal;
}

.f_dataGrid_tcell {
	border-left: 1px solid #D9D9D9;
	padding-left: 3px;
}

.f_dataGrid_tcell_disabled {
 	background-color: #BBB;
	color: #9292B7;
}

.f_dataGrid_tcell_over {
	background: url('dataGrid/titleOver.gif') repeat-x bottom white;
}

.f_dataGrid_tcell_selected {
	border: 1px solid #A5A597;
	background-color: #DEDFD8;
	padding: 1px 1px 1px 5px;
}

.f_dataGrid_timage {
	margin-right: 4px;
	vertical-align: middle;
}
 
.f_dataGrid_stext {
 	position: relative;
 	text-align: left;
}

.f_dataGrid_stext_ascending {
	background: url('dataGrid/ascending.gif') no-repeat right center;
}

.f_dataGrid_stext_descending {
	background: url('dataGrid/descending.gif') no-repeat right center;
}

.f_dataGrid_ttext {
	color: #000;
/*	text-overflow: ellipsis; */
	text-overflow: clip;
	white-space:nowrap;
	overflow: hidden;
	vertical-align: middle;
	line-height: 16px;
}

.f_dataGrid_shadowCell,
.f_dataGrid_cell {
	empty-cells: show;
	padding: 1px 4px 1px 4px;
	height: 20px;
	vertical-align: middle;
	overflow:hidden;
	white-space:nowrap;
}

.f_dataGrid_cell {
	border-left: 1px solid #D9D9D9;
	padding-left: 3px;
}

.f_dataGrid_cell_cursor {
	border: 1px dotted black;
	padding: 0 0 0 3px;
}

.f_dataGrid_label {
	white-space: nowrap;
/*	text-overflow: ellipsis; */
	text-overflow: clip;
	overflow: hidden;
	white-space:nowrap;
	vertical-align: middle;
/*	line-height: 18px; */
}

.f_dataGrid_input {
	cursor: pointer;
	vertical-align: middle;
	line-height: 18px;
	-moz-user-focus: ignore;
	padding: 0;
	margin: 0 2px 0 0;
	width: 16px;  // Pour la compatibilité IE
	height: 16px;  // Pour la compatibilité IE
}

.f_dataGrid_row_even, 
.f_dataGrid_row_even_normal {
	background-color: #EDF3FE;
}

.f_dataGrid_row_odd, 
.f_dataGrid_row_odd_normal {
	background-color: #ffffff;
}

.f_dataGrid_row_even_disabled {
	background-color: #dedede;
}

.f_dataGrid_row_odd_disabled {
	background-color: #e2e2e2;
}

.f_dataGrid_row_selected{
	color: #000;
	background-color: #C0C0C0;
}

.f_dataGrid_row_selected_focus {
	color: HighlightText;
	background-color: #3D80DF;	
}

.f_dataGrid_row_selected_focus .f_dataGrid_cell {
	border-left-color: #346DBE;
}

.f_dataGrid_row_even_disabled_selected, 
.f_dataGrid_row_odd_disabled_selected {
	background-color: #a2a2a2;
}

.f_dataGrid_row_even_normal,
.f_dataGrid_row_odd_normal,
.f_dataGrid_row_selected_focus,
.f_dataGrid_row_selected_focus,
.f_dataGrid_row_selected,
.f_dataGrid_row_selected {
	cursor: pointer;
}

.f_dataGrid_focus {
	position: absolute;
	width: 0;
	height: 0;
	top: 0px;
	height: 0px;
	-moz-outline-style: none;
	-moz-outline-width: 0;
	-moz-user-focus: normal;
}

.f_dataGrid_dataBody_scroll {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	overflow-y: auto;
	overflow-x: auto;
	text-align: left;
	-moz-outline-style: none;
}
.f_dataGrid_dataTitle_scroll {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
	background: url('dataGrid/titleNormal.gif') repeat-x bottom #EBEADB;
	text-align: left;
	-moz-outline-style: none;
}

.f_dataGrid_imageCell {
	margin: 0 2px 0 0;
	vertical-align: middle;
	height: auto;
}

.f_dataGrid_colCursor {
	//background-color: red;
	position: absolute;
	top: -2px;
	right: -8px;
	width: 16px;
	height: 18px;
	cursor: e-resize;
//	xbackground: url('dataGrid/blank.gif') repeat;
	z-index:100;
}

.f_dataGrid_shadowCell {
	background-color: #EEE;
}
