/*
 * $Id$
 */

/**
 *
 * @class f_fieldSet
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */

.f_fieldSet {
	text-align: left;
	vertical-align: baseline;
}

.f_fieldSet_cellBody {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: top;
}

.f_fieldSet_content {
	position:relative;
	margin: 0;
	padding: 0;
	border: 0;
}




