/*
 * $Id$
 */
 
 /**
 *
 * @class f_imageCriteriaButton
 *
 * @author Olivier Oeuillot 
 * @version $Revision$ $Date$ 
 */

.f_form {
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
}

.f_form_full {
	width: 100%;
	height: 100%;
}
