/*
 * $Id$
 */

/**
 *
 * @class f_hyperLink
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 
.f_hyperLink {
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
}

.f_hyperLink_disabled {
	color: #A1A192;
	cursor: default;
}