/*
 * $Id$
 */

/**
 *
 * @class f_imageResetButton
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 
.f_imageResetButton_image,
.f_imageResetButton_text,
.f_imageResetButton, 
.f_imageResetButton_hover, 
.f_imageResetButton_pushed, 
.f_imageResetButton_selected, 
.f_imageResetButton_focus,
.f_imageResetButton_selected_focus, 
.f_imageResetButton_selected_hover, 
.f_imageResetButton_disabled {
	border: 0;
	padding: 0;
	margin: 0;
	-moz-user-select: none;
	-moz-user-focus: normal;
	user-select: none;
	color: black;
	text-decoration: none;
	text-align: left;
	vertical-align: baseline;
}

.f_imageResetButton, 
.f_imageResetButton_hover, 
.f_imageResetButton_pushed, 
.f_imageResetButton_selected, 
.f_imageResetButton_focus,
.f_imageResetButton_selected_focus, 
.f_imageResetButton_selected_hover {
	cursor: pointer;
	cursor: hand;
}

.f_imageResetButton_disabled,
.f_imageResetButton_disabled INPUT{
	-moz-user-focus: ignore;
	cursor: default;
}

.f_imageResetButton_disabled .f_imageResetButton_text {
	color: #A1A192;
}

/*
.f_imageResetButton_text {
	border: 1px solid transparent;
}

.f_imageResetButton_focus .f_imageResetButton_text,
.f_imageResetButton_selected_focus .f_imageResetButton_text {
	border: 1px dotted black;
}
*/

