/*
 * $Id$
 */

/**
 *
 * @class f_imageCombo
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 
.f_imageCombo, 
.f_imageCombo_text,
.f_imageCombo_hover, 
.f_imageCombo_pushed, 
.f_imageCombo_selected, 
.f_imageCombo_focus,
.f_imageCombo_selected_focus, 
.f_imageCombo_selected_hover, 
.f_imageCombo_disabled {
	border: 0;
	padding: 0;
	margin: 0;
	-moz-user-select: none;
	user-select: none;
	color: black;
	text-decoration: none;
	text-align: left;
	vertical-align: baseline;
}

.f_imageCombo_image {
	border: 0;
	padding: 0;
	margin: 0;
	user-select: none;
	color: black;
	text-decoration: none;
}

.f_imageCombo, 
.f_imageCombo_hover, 
.f_imageCombo_pushed, 
.f_imageCombo_selected, 
.f_imageCombo_focus,
.f_imageCombo_selected_focus, 
.f_imageCombo_selected_hover {
	cursor: pointer;
	cursor: hand;
}

.f_imageCombo_disabled,
.f_imageCombo_disabled INPUT {
	-moz-user-focus: ignore;
	cursor: default;
}

.f_imageCombo_disabled .f_imageCombo_text {
	color: #A1A192;
}

.f_imageCombo_marker {
	background: url('imageCombo/popDown.gif') no-repeat 0 0;
}

.f_imageCombo_disabled .f_imageCombo_marker {
	color: #A1A192;
	background-position: -5px 0;
}
