/**
 *
 * @class f_itemsList
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */

.f_itemsList {
	display: block;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;	
	overflow: auto;
	display: block;
	background-color: white;
	position: relative;
}

