/*
 * $Id$
 */

/**
 *
 * @class f_messages
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */

.f_messages_caption {
	position: absolute;
	left: -10000px;
	top: -10000px;
}