/*
 * $Id$
 */

/**
 *
 * @class f_message
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 
.f_message,
.f_message_info,
.f_message_warn,
.f_message_error,
.f_message_fatal {
	-moz-user-select: none;
	user-select: none;
}

.f_message_summary {
	color: red;
	font-weight: bold;
}

.f_message_detail {
	color: red;
}
