/*
 * $Id$
 */

/**
 *
 * @class f_datePager
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 
.f_pager {
	-moz-user-select: none;
	user-select: none;
	border: 1px dotted #999999;
	background-color: #EEEEEE;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	text-align: left;
	vertical-align: baseline;
}

.f_pager_pgoto_disabled {
	font-weight: bold;
	color: black;
}

.f_pager_pfirst_disabled, 
.f_pager_plast_disabled, 
.f_pager_pprev_disabled, 
.f_pager_pnext_disabled {
	color: #AAA;
}

.f_pager_pfirst, 
.f_pager_plast, 
.f_pager_pprev, 
.f_pager_pnext,
.f_pager_pgoto {
	color: #666;
	text-decoration: none;
}
