/** ===========================================================================
 * @component TextEntry
 * @lookid classic
 */
INPUT.f_password {
	margin: 0px;
}
INPUT.f_password_disabled {
	border: 1px solid black;
	margin: 1px;
}
INPUT.f_password_readonly {
	border: 1px solid black;
	margin: 1px;
}

LABEL.f_password_required {
	color: red;
}
