/*
 * $Id$
 */

/**
 *
 * @class f_progressBar
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 

TABLE.f_progressBar {
	border: none;
}

.f_progressBar_left,
.f_progressBar_mid,
.f_progressBar_right {
	background: transparent url("progressBar/border.gif") no-repeat 0 0;
}

.f_progressBar_mid {
	background-position: 0 -32px;
	background-repeat: repeat-x;
	font-size: 1pt;
	position: relative;
	vertical-align: top;
	padding-top: 1px;
	border: 0;
}

.f_progressBar_cursor,
.f_progressBar_cursor_smooth {
	font-size: 1pt;
	background: white url("progressBar/defaultCursor.gif") repeat-x left center;
	visibility: hidden;
	width: 0;
	height: 10px;
	border: 0;
	margin: 0;
	padding: 0;
}

.f_progressBar_cursor_smooth {
	background-image: url("progressBar/smoothCursor2.gif");
}
	
.f_progressBar_right {
	background-position: 0 -16px;
}

