/*
 * $Id$
 */

/**
 *
 * @class f_radioButton
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 
 
.f_radioButton {
 	-moz-user-select: none;
	user-select: none;
	text-align: left;
	vertical-align: baseline;
}

INPUT.f_radioButton_input {
	vertical-align: middle;
}


LABEL.f_radioButton_text, 
LABEL.f_radioButton_text_disabled {
	vertical-align: middle;
	display: inline;
	-moz-user-select: none;
	user-select: none;
}

LABEL.f_radioButton_text {
	cursor: pointer;
	cursor: hand;
}

LABEL.f_radioButton_text_disabled {
	color: #A1A192;
}
