/*
 * $Id$
 */

/**
 *
 * @class f_radioButton
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 

.f_radioButton {
 	-moz-user-select: none;
	user-select: none;
	text-align: left;
	vertical-align: baseline;
	display: inline;
}

.f_radioButton_input {
	vertical-align: middle;
}


.f_radioButton_text {
	vertical-align: middle;
	display: inline;
	-moz-user-select: none;
	user-select: none;

	cursor: pointer;
}

.f_radioButton_text_disabled {
	color: #A1A192;
	cursor: default;
}
