/**
 * Suggest Text Entry
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$
 */
INPUT.f_suggestTextEntry {
	margin: 0;
	border: 1px solid #7F9DB9;
}

INPUT.f_suggestTextEntry_readonly,
INPUT.f_suggestTextEntry_disabled {
	border: 1px solid #7F9DB9;
	margin: 1px;
}

INPUT.f_suggestTextEntry_required {
	border: 1px solid #7F9DB9;
	color: red;
}

INPUT.f_suggestTextEntry_waiting {
	border: 1px solid #7F9DB9;
	background: url("suggestTextEntry/waiting.gif") no-repeat right center;
}

