/*
 * $Id$
 */

/**
 *
 * @class f_textEntry
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 

.f_textEntry {
	margin: 0;
}

.f_textEntry_disabled {
	border: 1px solid black;
	margin: 1px;
}

.f_textEntry_readonly {
	border: 1px solid black;
	margin: 1px;
}

/*
.f_textEntry_error {
	color: red;
}
*/
