/*
 * $Id$
 */

/**
 *
 * @class f_textArea
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 
.f_textArea {
	margin: 0;
}
.f_textArea_disabled {
	border: 1px solid black;
	margin: 1px;
}
.f_textArea_readonly {
	border: 1px solid black;
	margin: 1px;
}

.f_textArea_required,
.f_textArea_disabled_required,
.f_textArea_readonly_required {
	color: red;
}
