/** ===========================================================================
 * @component TextEntry
 * @lookid classic
 */
INPUT.f_textEntry {
	margin: 0;
}
INPUT.f_textEntry_disabled {
	border: 1px solid black;
	margin: 1px;
}
INPUT.f_textEntry_readonly {
	border: 1px solid black;
	margin: 1px;
}

LABEL.f_textEntry_required {
	color: red;
}
