/*
 * $Id$
 */

/**
 *
 * @class f_toolBar
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */

.f_toolBar {
	display: block;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

.f_toolBar_item,
.f_toolBar_itemSeparator {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 2px;
}

.f_toolBar_itemSeparator {
	position: relative;
	vertical-align: middle;
}

.f_toolBar_autoSeparator {
	background: transparent url('toolBar/separator.gif') center top repeat-y;
	width: 4px;
}
