/*
 * $Id$
 */

/**
 *
 * @class f_waiting
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 
.f_viewDialog_frame {
	background-color: white;
    position: absolute;
    border: 0;
    frameBorder: 0;
}

