/*
 * $Id$
 */

/**
 *
 * @class f_waiting
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 
.f_waiting {
	display: none;
	overflow: hidden;

	width: 100px;
	height: 24px;
	padding-left: 24px;
	line-height: 24px;

	background: transparent url("waiting/waiting2.gif") no-repeat left center;

	vertical-align: middle;
	text-align: left;
	
	font: normal normal normal 8pt Tahoma, Verdana, Arial, Helvetica, sans-serif normal;
}

.f_waiting_absolute {
	position: absolute;
	z-index: 999;
}

.f_waiting_error {
	color: #B00;
}

