/*
 * $Id$
 */

/**
 *
 * @class f_waiting
 *
 * @author Olivier Oeuillot (latest modification by $Author$)
 * @version $Revision$ $Date$ 
 */
 
DIV.f_waiting {
	text-align: left;
	vertical-align: middle;
	width: 100px;
	height: 24px;
	position: absolute;
	display: none;
	background: transparent url("waiting/waiting2.gif") no-repeat left center;
	padding-left: 24px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 24px;
	z-index: 999;
	overflow: hidden;
}

.f_waiting_error {
	color: #B00;
}

