@charset "utf-8";
.pe_body { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; background-color: rgb(83, 183, 221); padding-bottom: 5px; padding-right: 5px }
.pe_form { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; background-color: transparent; margin: 0 0 0 5px; overflow: hidden; padding: 0; border: 0; width: 1000px; height: 670px; position: relative }
.pe_zoning_menuHorizontal, .pe_zoning_menuGauche, .pe_zoning_ecran { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; margin: 0; padding: 0; border: 0; position: absolute }
.pe_zoning_menuHorizontal { top: 0px; left: 0px; width: 1000px; height: 25px }
.pe_zoning_menuGauche { width: 221px; top: 25px; left: 0px; padding-top: 10px; padding-right: 5px; background-color: white; height: 635px }
.pe_zoning_ecran { top: 25px; height: 635px; left: 221px; width: 780px; background-color: transparent }
.pe_header { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; background: transparent url("../rc-av/JCxw1agntvsWRr2D1BwBJ4sXOZiClJkvhqusM4j7EM15AKhvGSDCrj5Gw7mv8NNr1352/images/pe/pe_footer.gif") no-repeat center bottom; position: absolute; top: 0px; height: 10px; width: 1000px; margin: 0 auto }
.pe_footer { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; background: transparent url("../rc-av/JCxw1agntvsWRr2D1BwBJ4sXOZiClJkvhqusM4j7EM15AKhvGSDCrj5Gw7mv8NNr1352/images/pe/pe_footer.gif") no-repeat center top; position: absolute; top: 625px; height: 45px; width: 1000px; margin: 0 auto }
.ecranTitle { position: absolute; height: 60px; left: 0; padding-right: 5px; right: 0; top: 0; background-color: white }
.ecranTitleLinks { float: right; margin-top: 2px }
.ecranTitleLinks A { line-height: 16px }
.ecranTrainEtapes { padding-top: 10px; clear: both }
.ecranAlertes { margin-top: 10px }
.ecranTitleMessage { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; height: 35px; background-color: white; padding: 3px 0 }
.ecranCorps { position: absolute; overflow: auto; left: 0px; right: 0px; background-color: white }
.ecranTitle_sub1 { height: 70px }
.ecranCorps_sub1 { top: 70px; height: 545px }
.ecranTitle_sub2 { height: 132px }
.ecranCorps_sub2 { top: 132px; height: 478px }
.ecranTitle_sub3 { height: 100px }
.ecranCorps_sub3 { top: 100px; height: 535px }
.ecranTitle_sub4 { height: 100px }
.ecranCorps_sub4 { top: 100px; height: 510px }
.pe_menuGauche_list { height: 503px }
.pe_zoning2 .pe_zoning_ecran { top: 10px; height: 660px }
.pe_zoning2 .pe_zoning_menuGauche { padding-top: 0; top: 10px; height: 650px }
.pe_zoning2 .pe_menuGauche_list .pe_menuVertical, .pe_zoning2 .pe_menuGauche_list .pe_arbo { height: 330px }
.pe_zoning2 .pe_arbo, .pe_zoning2 .pe_menuVertical { height: 415px }
.pe_zoning1 .pe_arbo, .pe_zoning1 .pe_menuVertical { height: 390px }
.pe_zoning1 .pe_hm_menu2_selected { display: none !important }
.pe_hm_menu2_selected .pe_zoning2 .ecranCorps_sub1 { height: 555px }
.pe_zoning2 .ecranCorps_sub2 { height: 493px }
.pe_zoning2 .ecranCorps_sub3 { height: 550px }
.pe_zoning2 .ecranBoutons { top: 625px }
.pe_zoning3 .pe_zoning_menuHorizontal { height: 50px }
.pe_zoning3 .pe_zoning_ecran { left: 0; top: 50px; width: 1000px; height: 620px }
.pe_zoning3 .ecranTitle, .pe_zoning3 .ecranCorps, .pe_zoning3 .ecranBoutons { padding-left: 5px }
.pe_zoning3 .ecranCorps_sub1 { height: 515px }
.pe_zoning3 .ecranCorps_sub2 { height: 453px }
.pe_zoning3 .ecranCorps_sub3 { height: 510px }
.pe_zoning3 .ecranBoutons { top: 585px }
.ecranBoutons { position: absolute; left: 0; right: 5px; top: 610px; background-color: transparent; vertical-align: middle; padding-top: 8px; height: 27px }
.ecranBoutons .ecranBoutonsLeft { float: left; height: 35px; vertical-align: middle }
.ecranBoutons .ecranBoutonsRight { float: right; height: 35px; vertical-align: middle }
.ecranBoutonsRight .pe_button { float: left }
.ecranBoutons .pe_button { margin-top: 2px; margin-left: 5px }
.ecranBoutons .pe_submitButton { margin-top: 0 }
.ecranBoutons .pe_hyperLink { line-height: 30px }
.ecranTitle_sub4 .ecranTitleMessage { margin-top: 35px }
.pe_form { border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; background-color: rgb(255, 255, 255); position: relative }
.pe_header { background-image: none }
.pe_footer { background-image: none }
.ecranBoutons .pe_submitButton { margin-left: 5px; float: left }
.pe_menuGauche_list { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; padding: 0; margin: 0; border: 0; height: 445px }
.pe_menuGauche_list .pe_menuVertical, .pe_menuGauche_list .pe_arbo { height: 360px }
.pe_menuGauche_head { height: 80px }
.pe_menuGauche_top { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; height: 25px; width: 216px; line-height: 0.1; font-size: 1px; background: transparent url("../rc-av/.1hDhQ50U9TqPESMfwPNh1KpSkpx5wByPCMPHidfv2.Z83urzA1cWpRdjSRVkAj0991/images/pe/pe_menu_gauche_top.gif") top left no-repeat }
.pe_menuGauche_bottom { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; width: 216px; height: 10px; line-height: 0.1; font-size: 1px; background: transparent url("../rc-av/BIs8JzpkIiBiCJEv0WQaceXxF5No1q.WMd2yLqGehqx72afYzbyjYESXWp6JcPqm945/images/pe/pe_menu_gauche_bottom.gif") no-repeat }
.pe_menuGauche_sep_top, .pe_menuGauche_sep_bottom { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; width: 216px; height: 5px; line-height: 0.1; font-size: 1px; background: rgb(216, 216, 216) url("../rc-av/yQWZVh66WbUoP5joFxvNfS8xszV6l:Wiw7wyHP7eZH4popRAGfWiU9eLahTmpdpW882/images/pe/pe_menu_gauche_sep_top.gif") left no-repeat }
.pe_menuGauche_sep_bottom { height: 10px; background: rgb(216, 216, 216) url("../rc-av/M74t3uSPrDqKyVW8tsdbF.eKs6jGTu310q9k4hWD9tPWgjmw90eSzMuHMik7zcMv925/images/pe/pe_menu_gauche_sep_bottom.gif") bottom left no-repeat }
.pe_menuGauche_infos { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; height: 40px; width: 216px; background: rgb(216, 216, 216) url("../rc-av/67uw:TOekfWte.6cm:BfxTYqBLkllimK3GbGJY:1M86JockqkIERZcrDLK3HYQUu840/images/pe/pe_menu_gauche_infos.gif") top left repeat-y }
.pe_menuGauche_treeCommands { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; width: 216px; height: 26px; text-align: right; padding-top: 6px; padding-right: 10px }
.pe_menuGauche_treeCommands A { margin-right: 10px }
.pe_menuGauche_header { width: 216px; background-color: rgb(216, 216, 216) }
.pe_menuGauche_titre { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; display: block; font-weight: bold; font-family: Verdana; color: rgb(51, 51, 51); padding-left: 10px; font-size: 14px }
.pe_menuGauche_nom { display: block; font-weight: bold; font-family: Verdana; color: rgb(51, 51, 51); padding-left: 10px; font-size: 12px }
.pe_menuGauche_id { display: block; padding-top: 2px; font-family: Verdana; color: rgb(51, 51, 51); padding-left: 10px; font-size: 12px }
.pe_menuGauche_synthese { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; font-family: Verdana; color: rgb(51, 51, 51); padding-left: 5px; float: right; display: block; margin-top: 10px }
.pe_menuGauche_div_synthese { display: block; float: left; margin: 2px 5px 0 6px; width: 80px }
.pe_menuGauche_div_synthese IMG { float: left }
.pe_menuGauche_div_synthese SPAN { float: left; line-height: 1; margin-top: 5px }
.pe_menuGauche_buttons A { margin-left: 8px }
.pe_menuGauche_buttons { float: right; margin: 2px 5px 0 0 }
.pe_menuGauche_buttons A { margin-left: 8px }
.pe_menuGauche_list .pe_menuVertical, .pe_menuGauche_list .pe_arbo { height: 360px }
.pe_menuGauche_head_css3 { height: 80px; border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; background-color: rgb(216, 216, 216) }
.pe_menuGauche_head_css3 .pe_menuGauche_top { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; height: 25px; width: 216px; line-height: 0.1; font-size: 1px; border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; background-color: rgb(216, 216, 216) }
.pe_menuGauche_bottom_css3 { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; width: 216px; height: 10px; line-height: 0.1; font-size: 1px; border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; background-color: rgb(216, 216, 216) }
.pe_menuGauche_head_css3 .pe_menuGauche_infos { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; height: 50px; width: 204px; margin-left: 6px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; padding-top: 5px; background-color: rgb(119, 198, 228); background-image: none }
.pe_menuGauche_head_css3 .pe_menuGauche_nom { padding-left: 4px }
.pe_menuGauche_head_css3 .pe_menuGauche_id { padding-left: 4px }
.pe_menuGauche_synthese { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; font-family: Verdana; color: rgb(51, 51, 51); padding-left: 5px; float: right; display: block; margin-top: 10px }
.pe_menuGauche_div_synthese { display: block; float: left; margin: 2px 5px 0 6px; width: 80px }
.pe_menuGauche_div_synthese IMG { float: left }
.pe_menuGauche_div_synthese SPAN { float: left; line-height: 1; margin-top: 5px }
.pe_menuGauche_buttons A { margin-left: 8px }
.pe_menuGauche_buttons { float: right; margin: 2px 5px 0 0 }
.pe_menuGauche_buttons A { margin-left: 8px }
.pe_menuHorizontal_buttons { float: right; margin: 4px 5px 0 0; position: absolute; right: 0; z-index: 1 }
.pe_menuHorizontal_buttons A { display: inline; margin-left: 8px }
.pe_infoBlock .f_expandBar_content LABEL { font-family: Verdana; font-size: 11px; color: rgb(255, 255, 255); line-height: normal }
.pe_cadreWarning_text { display: block; padding-left: 30px; font-family: Verdana; font-size: 14px; color: rgb(51, 51, 51) }
.pe_cadreRg_sepVertical { width: 3px; background: transparent url("../rc-av/Od5ZDC6MJ.U:hgNJmkJW.QtTnCCEg:h4UGQktXGfEs7kqjXgiSax7ILjxLCVkG:o802/images/pe/pe_cadre2_vsep.gif") repeat-y center top }
.pe_cadreRg_sepHorizontal { background: url("../rc-av/jObxrIOVVh:A5DAg75SdfOhRipvE:8oVGnxYy3wulXvaTwvx56eoY9CZBfStuIAE861/images/pe/pe_cadre2_hsep.gif") no-repeat center center; height: 9px }
.pe_cadreRg_title { display: block; border-bottom: black 1px solid; padding-bottom: 1px; margin: 0 6px 1px 6px; font-family: Verdana; font-size: 11px; font-weight: normal }
.pe_cadreRg_cellLabel { text-align: right; vertical-align: top; padding-right: 6px }
.pe_cadreRg_cellValue { vertical-align: top }
.pe_cadreRg_horizontalCols { vertical-align: top; padding-right: 6px }
.pe_cadreRg_horizontalTable { padding: 0 10px }
.pe_cadreRg_cellValue .f_comboGrid { vertical-align: top; border-color: rgb(139, 140, 142) !important }
.pe_cadreRg_cellValue .f_textEntry { height: 17px }
.pe_cadreRg_cellValue .f_comboGrid { padding: 1px; border-color: rgb(139, 140, 142) !important }
.pe_cadreRg_titleList { display: block; list-style-image: none; list-style-position: outside; list-style-type: none; margin: 0; padding: 0 }
.pe_cadreRg_titleItem { list-style-image: none; list-style-position: outside; list-style-type: none; margin: 0; padding: 0; float: left; padding-left: 20px; color: white; font-size: 12px }
.pe_cadreRg_valueRight, .pe_cadreRg_value { font-weight: bold }
.pe_cadreRg_hyperLinkRight { font-weight: normal }
.pe_cadreRg_hyperLinkRight, .pe_cadreRg_valueRight { float: right }
.pe_cadreRg_comment { font-size: 9px; margin-right: 4px }
.pe_cadreResume_table { border-top: solid 2px rgb(176, 171, 167); border-bottom: solid 2px rgb(176, 171, 167) }
.pe_required { color: rgb(222, 62, 62) }
TEXTAREA { resize: none }
.ecranTitleBorder, .dialogTitleBorder { border: solid 1px rgb(83, 183, 221); border-width: 1px 0; -moz-box-sizing: border-box; height: 25px }
.dialogTitleBorder { margin: 5px 20px 10px 20px }
.ecranTitleLabel { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; color: rgb(40, 140, 178); font-weight: normal; display: inline }
.pe_column_hyperLink LABEL, .pe_column_hyperLink_selected LABEL { text-decoration: underline }
.pe_column_hyperLink LABEL:hover, .pe_column_hyperLink_selected LABEL:hover { text-decoration: overline }
.pe_expandBox .f_expandBar_head { display: none }
.pe_expandBox { overflow: auto; border: none; margin-top: 5px }
.pe_expandBox_collapsed { display: none }
.pe_crit { font-weight: bold }
.pe_tableExpand { margin-bottom: 5px }
.pe_keyLabel { font-family: Verdana; font-size: 11px }
.pe_widthText { white-space: nowrap; display: block; overflow: hidden }
.pe_hyperLink_imprimer { padding: 1px 0 1px 20px; background-image: url("../rc-av/Dxv3Bn0OhWpZlDyYhBBJVsoBhAQfVUOwbBMbH90rAPTcuhVaTsmNDHkLlv9Gmb5G880/images/pe/printer.gif") }
.pe_hyperLink_aide { padding: 1px 0 1px 20px; background-image: url("../rc-av/RAh771UHCYB79IA2OFuJwHAGk0:0NfpUa7aQm.VR:dB:RqHAHF:ytpNu4O7JP3W2858/images/pe/help.gif") }
.pe_hyperLink_link { padding: 1px 0 1px 20px; background-image: url("../rc-av/ueE4XVKnpdhhkJ.l5tOUx9FbqYoiklMCFbGE:SCm8uI2KVp9x65n4aKaMrrwT8CG998/images/pe/link.gif") }
.pe_hyperLink_back { padding-left: 20px; background-image: url("../rc-av/QOrkAwF07m4vN:rKZbFKN5MJKqqt3AR:zS48Dibjj3KHBBe2WXU:jXzGITdAM.RF1005/images/pe/pe_hyperlink_back.gif"); height: 16px }
.pe_cadreConfirmation_label { text-align: right }
.pe_cadreConfirmation_value { text-align: left }
.pe_cadreConfirmation_body { padding-top: 15px; padding-left: 28px; padding-right: 30px }
.pe_cadreConfirmation_header { padding-left: 28px; padding-right: 30px }
.pe_cadreConfirmation_header_text { display: block; padding-top: 30px; padding-bottom: 30px; border-bottom: solid 1px rgb(18, 213, 48) }
